<h2>ユーザー一覧</h2>
<div class="user_index">
  <% @users.each do |user| %>
    <%= "No.#{user.id}" %>
    <%= link_to "#{user.name}", show_path(user) %> 
    <%= user.gender %>
    <%= "#{user.age}歳" %>
  <% end %>
<end>
